<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiujie.base">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--DownloadManager下载时不显示Notification-->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--读取手机相关信息需求，如imei-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--震动需求权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application >

        <!--7.0+在将文件提交给APP外使用时，需求Uri通过FileProvider。比如系统裁剪图片，比如安装-->
        <provider
            android:name=".provider.JiuJieProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/jiujie_file_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.jiujie.com.jiujie.glide.GlideModuleMine"
            android:value="GlideModule" />

        <activity
            android:name=".activity.ImageViewPagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/Slide.trans"/>

        <activity
            android:name=".activity.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/Slide.trans"/>

        <activity android:name=".activity.ChoosePhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/Slide.trans"/>

        <activity android:name=".activity.cropimage.JJCropImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/Slide.trans"/>

    </application>

</manifest>
